body {
    background: #f2f2f2;
    margin: 0px;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 30px;
}

.header {
    background: linear-gradient(to top, #373737, #212121);
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    color: #fff;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity {
    display: flex;
    flex-direction: row;
}